# Copyright (C) 2021 Amano Team <https://amanoteam.com/>, nfitzen
#
# SPDX-License-Identifier: MIT

# Personal files
test.py

# VSCode related stuff
.vscode/
*.code-workspace

# Environments
.env/
.venv/

# Byte pre-compiled
*.egg*
build/
dist/
__pycache__/

# macOS
.DS_Store

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/